---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About</h1>
  <p>
    Asperiores perferendis est totam molestias earum. Et soluta consequuntur aut
    est et delectus at. Quasi recusandae molestiae perferendis qui tenetur ut.
    Temporibus velit vitae voluptates quia voluptas ea aut.
  </p>
  <p>
    Neque recusandae natus autem consequatur est natus ea voluptatem. Officiis
    commodi quia autem illo officiis quo harum. Sed velit maxime perferendis.
    Fugiat rerum qui aut qui placeat.
  </p>
  <p>
    Quibusdam totam voluptatibus cum dolorem voluptatem ex. Quia vero tenetur
    molestiae autem quisquam porro sit. Sequi sint quasi minus ullam libero. Ut
    possimus perferendis esse dolores omnis.
  </p>
</Layout>
