---
import CurriculumVintae from "../components/CurriculumVintae.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home Page";
---

<head>
  <title>{pageTitle}</title>
</head>

<Layout>
  <h1>My Astro Blog</h1>
  <p>
    Asperiores perferendis est totam molestias earum. Et soluta consequuntur aut
    est et delectus at. Quasi recusandae molestiae perferendis qui tenetur ut.
    Temporibus velit vitae voluptates quia voluptas ea aut.
  </p>
  <CurriculumVintae />
</Layout>
